<%= form_with(model: fixed_scheduling, local: true) do |form| %>
  <% if fixed_scheduling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fixed_scheduling.errors.count, "error") %> prohibited this fixed_scheduling from being saved:</h2>

      <ul>
      <% fixed_scheduling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day_of_week %>
    <%= form.text_field :day_of_week, id: :fixed_scheduling_day_of_week %>
  </div>

  <%= form.hidden_field :volunteer_id, id: :fixed_scheduling_volunteer_id %>

  <%= form.hidden_field :animal_id, id: :fixed_scheduling_animal_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
