<p>
  <strong>Dia da semana:</strong>
  <%= @fixed_scheduling.day_of_week %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @fixed_scheduling.hour.strftime("%H:%M") %>
</p>

<p>
  <strong>Voluntário:</strong>
  <%= @fixed_scheduling.volunteer.name %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @fixed_scheduling.animal.name %>
</p>

<%= link_to 'Editar', edit_fixed_scheduling_path(@fixed_scheduling) %> |
<%= link_to 'Voltar', fixed_schedulings_path %>
