<p id="notice"><%= notice %></p>

<h1>Voluntários</h1>

<table>
  <thead>
    <tr>
      <th>Função</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.function %></td>
        <td><%= volunteer.name %></td>
        <td><%= link_to 'Mostrar', volunteer %></td>
        <td><%= link_to 'Editar', edit_volunteer_path(volunteer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo voluntário', new_volunteer_path %>
<br>
<%= link_to 'Página Inicial', landing_pages_path %>
