<p id="notice"><%= notice %></p>

<h1>Requisição de adoção</h1>

<table>
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Nome do animal que pretende adotar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adopters.each do |adopter| %>
      <tr>
        <td><%= adopter.name %></td>
        <td><%= adopter.email %></td>
        <td><%= adopter.telephone %></td>
        <td><%= adopter.animal %></td>
        <td><%= link_to 'Show', adopter %></td>
        <td><%= link_to 'Edit', edit_adopter_path(adopter) %></td>
        <td><%= link_to 'Destroy', adopter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Página Inicial', landing_pages_path %><br>
