<p id="notice"><%= notice %></p>

<p>
  <strong>Voluntarios:</strong>
  <%= @agendamentos_experimentai.Voluntarios %>
</p>

<p>
  <strong>Animals:</strong>
  <%= @agendamentos_experimentai.Animals %>
</p>

<p>
  <strong>Data:</strong>
  <%= @agendamentos_experimentai.data %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @agendamentos_experimentai.timestamps %>
</p>

<%= link_to 'Edit', edit_agendamentos_experimentai_path(@agendamentos_experimentai) %> |
<%= link_to 'Back', agendamentos_experimentais_path %>
