<h1>Passeios realizados</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Voluntário</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @walkings.each do |walking| %>
      <tr>
        <td><%= walking.date %></td>
        <td><%= walking.volunteer.name %></td>
        <td><%= walking.animal.name %></td>
        <td><%= link_to 'Mostrar', walking %></td>
        <td><%= link_to 'Editar', edit_walking_path(walking) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo registro de passeio', new_walking_path %>
<br>
<%= link_to 'Página Inicial', landing_pages_path %>
