<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @walking.date %>
</p>

<p>
  <strong>Voluntário:</strong>
  <%= @walking.volunteer %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @walking.animal %>
</p>

<%= link_to 'Editar', edit_walking_path(@walking) %> |
<%= link_to 'Voltar', walkings_path %>
