<%= form_with(model: experimental_scheduling, local: true) do |form| %>
  <% if experimental_scheduling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experimental_scheduling.errors.count, "error") %> prohibited this experimental_scheduling from being saved:</h2>

      <ul>
      <% experimental_scheduling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_time %>
    <%= form.datetime_select :date_time, id: :experimental_scheduling_date_time %>
  </div>

  <%= form.hidden_field :volunteer_id, id: :experimental_scheduling_volunteer_id %>

  <%= form.hidden_field :animal_id, id: :experimental_scheduling_animal_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
