<p id="notice"><%= notice %></p>

<h1>Agendamentos de passeios experimentais</h1>

<table>
  <thead>
    <tr>
      <th>Data/hora</th>
      <th>Voluntário</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experimental_schedulings.each do |experimental_scheduling| %>
      <tr>
        <td><%= experimental_scheduling.date_time %></td>
        <td><%= experimental_scheduling.volunteer.name %></td>
        <td><%= experimental_scheduling.animal.name %></td>
        <td><%= link_to 'Mostrar', experimental_scheduling %></td>
        <td><%= link_to 'Editar', edit_experimental_scheduling_path(experimental_scheduling) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo agendamento', new_experimental_scheduling_path %>

<br>
<%= link_to 'Página Inicial', landing_pages_path %>
