<p>
  <strong>Data e hora:</strong>
  <%= @experimental_scheduling.date_time %>
</p>

<p>
  <strong>Voluntário:</strong>
  <%= @experimental_scheduling.volunteer.name %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @experimental_scheduling.animal.name %>
</p>

<%= link_to 'Editar', edit_experimental_scheduling_path(@experimental_scheduling) %> |
<%= link_to 'Voltar', experimental_schedulings_path %>
