<h1>Animais</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Tamanho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.color %></td>
        <td><%= animal.size %></td>
        <td><%= link_to 'Mostrar', animal %></td>
        <td><%= link_to 'Editar', edit_animal_path(animal) if volunteer_signed_in? %></td>
         <td><%= link_to 'Adotar', new_adopter_path(animal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo animal', new_animal_path if volunteer_signed_in? %>

<br>
<%= link_to 'Página Inicial', landing_pages_path %>
