<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @animal.color %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @animal.size %>
</p>

<%= link_to 'Editar', edit_animal_path(@animal) %> |
<%= link_to 'Voltar', animals_path %>
