<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @animal.nome %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @animal.raca %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @animal.cor %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @animal.tamanho %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @animal.timestamps %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
