<%= form_with(model: voluntario, local: true) do |form| %>
  <% if voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

      <ul>
      <% voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :voluntario_tipo %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :voluntario_nome %>
  </div>

  <div class="field">
    <%= form.label :timestamps %>
    <%= form.text_field :timestamps, id: :voluntario_timestamps %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
