<p id="notice"><%= notice %></p>

<h1>Agendamentos Fixos</h1>

<table>
  <thead>
    <tr>
      <th>Voluntarios</th>
      <th>Animals</th>
      <th>Dia da semana</th>
      <th>Timestamps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agendamentos_fixos.each do |agendamentos_fixo| %>
      <tr>
        <td><%= agendamentos_fixo.Voluntarios %></td>
        <td><%= agendamentos_fixo.Animals %></td>
        <td><%= agendamentos_fixo.dia_da_semana %></td>
        <td><%= agendamentos_fixo.timestamps %></td>
        <td><%= link_to 'Show', agendamentos_fixo %></td>
        <td><%= link_to 'Edit', edit_agendamentos_fixo_path(agendamentos_fixo) %></td>
        <td><%= link_to 'Destroy', agendamentos_fixo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agendamentos Fixo', new_agendamentos_fixo_path %>
