<p id="notice"><%= notice %></p>

<p>
  <strong>Voluntarios:</strong>
  <%= @agendamentos_fixo.Voluntarios %>
</p>

<p>
  <strong>Animals:</strong>
  <%= @agendamentos_fixo.Animals %>
</p>

<p>
  <strong>Dia da semana:</strong>
  <%= @agendamentos_fixo.dia_da_semana %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @agendamentos_fixo.timestamps %>
</p>

<%= link_to 'Edit', edit_agendamentos_fixo_path(@agendamentos_fixo) %> |
<%= link_to 'Back', agendamentos_fixos_path %>
